@model IEnumerable<WebApplication1.Models.Minerva_BookList>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookCover)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @{
                var base64 = Convert.ToBase64String(item.BookCover);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }
            @*@Html.DisplayFor(modelItem => item.BookCover)*@
            <img src="@imgSrc" height="150" width="125"/>
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookId })
        </td>*@
        <td>
            <button class="btn btn-success btn-lg" type="button" id="bid"
                    >
               Buy
            </button>
        </td>
    </tr>
}

</table>
